---
const { link, bg, color } = Astro.props;
---

<a href={link} target="_blank">
  <slot />
</a>

<style lang="scss" define:vars={{ bg, color }}>
  a {
    color: var(--c-white);
    background-color: var(--c-gray);
    font-weight: 700;
    cursor: pointer;
    border: none;
    padding: 10px 2.25rem;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    align-items: center;
    margin-inline: auto;
    justify-content: space-between;
    font-size: 1rem;
    transition: all 150ms ease-out;
    &:hover {
      transform: translateY(-2px);
      transition: all 150ms ease-in;
      box-shadow: 0px 4px 9px rgba(40, 40, 40, 0.2);
      background-image: linear-gradient(
        rgb(36, 118, 63),
        rgba(18, 71, 30, 0.34)
      );
    }
  }

  .link {
    text-decoration: none;
  }
</style>
