---
import Title from "../common/Title";
import Button from "../common/Button/Button.astro";
---

<main class="mainContainer">
  <div class="overlay"></div>
  <div class="overlayBottom"></div>
  <img class="imgoverlay" src="/hero-overlay.png" alt="overlay" />
  <img class="img" src="/hero-bg.png" alt="爪 注" />

  <div class="container">
    <Title size="h1" weight="bold"> 砖专 砖 | Personal Trainer</Title>
    <Title weight="bold" size="h3">
      <span class="stroke"> Fitness | Nutrition | Aesthetics</span>
    </Title>
    <Title size="h3">砖拽 </Title>
  </div>

  <div class="social">
    <a href="tel:0503395555">
      <div class="socialItem">
        <div class="socialIconWrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="23"
            height="23"
            viewBox="0 0 23 23"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M3.30023 9.32046C5.53437 14.1853 9.50998 18.053 14.4522 20.1488L14.4678 20.1554L15.4226 20.5809C16.6383 21.1226 18.0674 20.7379 18.8469 19.6591L20.4398 17.4544C20.5371 17.3197 20.5121 17.1325 20.3828 17.0281L17.6018 14.7846C17.4636 14.6731 17.2603 14.6991 17.1545 14.8418L16.0722 16.3023C15.8094 16.657 15.3347 16.7802 14.9325 16.5982C11.237 14.9258 8.26733 11.9562 6.59491 8.26065C6.4129 7.85845 6.53614 7.38376 6.89083 7.1209L8.3513 6.03858C8.49401 5.93282 8.51999 5.72954 8.40846 5.59129L6.16466 2.80999C6.06037 2.68072 5.87319 2.65561 5.73853 2.75283L3.52191 4.35302C2.43592 5.13701 2.05348 6.57807 2.6078 7.79738L3.29948 9.31883C3.29973 9.31937 3.29998 9.31991 3.30023 9.32046ZM13.7123 21.8716C8.34226 19.5922 4.02306 15.3884 1.5955 10.1012L1.59404 10.098L0.900914 8.57337C-0.0229611 6.54118 0.614449 4.13942 2.42443 2.83278L4.64104 1.23258C5.58369 0.55207 6.89398 0.727826 7.62397 1.63269L9.86778 4.414C10.6485 5.38171 10.4666 6.80471 9.46769 7.54501L8.63081 8.1652C10.0445 10.9082 12.2849 13.1487 15.0279 14.5623L15.6481 13.7254C16.3884 12.7265 17.8114 12.5446 18.7791 13.3253L21.5601 15.5688C22.4652 16.299 22.6407 17.6098 21.9596 18.5525L20.3667 20.7572C19.0675 22.5553 16.6858 23.1965 14.6595 22.2936L13.7123 21.8716Z"
              fill="white"></path>
          </svg>
        </div>
        砖
      </div>
    </a>

    <a
      href="https://instagram.com/liron__young_photographer"
      target="_blank"
      rel="noopener nofollow"
    >
      <div class="socialItem">
        <div class="socialIconWrapper">
          <svg
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.0001 8.75006C20.0001 8.0597 20.5597 7.50006 21.2501 7.50006C21.9405 7.50006 22.5001 8.0597 22.5001 8.75006C22.5001 9.44041 21.9405 10.0001 21.2501 10.0001C20.5597 10.0001 20.0001 9.44041 20.0001 8.75006Z"
              fill="#BCEC3E"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.0001 9.06256C11.7209 9.06256 9.06261 11.7209 9.06261 15.0001C9.06261 18.2792 11.7209 20.9376 15.0001 20.9376C18.2793 20.9376 20.9376 18.2792 20.9376 15.0001C20.9376 11.7209 18.2793 9.06256 15.0001 9.06256ZM10.9376 15.0001C10.9376 12.7564 12.7564 10.9376 15.0001 10.9376C17.2438 10.9376 19.0626 12.7564 19.0626 15.0001C19.0626 17.2437 17.2438 19.0626 15.0001 19.0626C12.7564 19.0626 10.9376 17.2437 10.9376 15.0001Z"
              fill="#BCEC3E"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M21.5729 3.54133C17.2397 3.05703 12.7605 3.05703 8.42732 3.54133C5.91225 3.82242 3.88183 5.80369 3.58614 8.33185C3.06797 12.7622 3.06797 17.2379 3.58614 21.6683C3.88183 24.1964 5.91225 26.1777 8.42732 26.4588C12.7605 26.9431 17.2397 26.9431 21.5729 26.4588C24.088 26.1777 26.1184 24.1964 26.4141 21.6683C26.9323 17.2379 26.9323 12.7622 26.4141 8.33185C26.1184 5.80369 24.088 3.82242 21.5729 3.54133ZM8.63558 5.40472C12.8304 4.93589 17.1699 4.93589 21.3647 5.40472C23.0273 5.59055 24.3592 6.90257 24.5518 8.54966C25.053 12.8353 25.053 17.1648 24.5518 21.4505C24.3592 23.0975 23.0273 24.4096 21.3647 24.5954C17.1699 25.0642 12.8304 25.0642 8.63558 24.5954C6.97295 24.4096 5.64109 23.0975 5.44844 21.4505C4.9472 17.1648 4.9472 12.8353 5.44844 8.54966C5.64109 6.90257 6.97295 5.59055 8.63558 5.40472Z"
              fill="#BCEC3E"></path>
          </svg>
        </div>
        住专
      </div>
    </a>

    <a
      href="https://facebook.com/lironstudiopic"
      target="_blank"
      rel="noopener nofollow"
    >
      <div class="socialItem">
        <div class="socialIconWrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="15"
            height="26"
            viewBox="0 0 15 26"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.60961 2.73461C6.84032 1.5039 8.50952 0.8125 10.25 0.8125H13.625C14.1428 0.8125 14.5625 1.23223 14.5625 1.75V6.25C14.5625 6.76777 14.1428 7.1875 13.625 7.1875H10.25C10.2003 7.1875 10.1526 7.20725 10.1174 7.24242C10.0823 7.27758 10.0625 7.32527 10.0625 7.375V9.8125H13.625C13.9137 9.8125 14.1863 9.9455 14.3639 10.1731C14.5416 10.4006 14.6045 10.6973 14.5345 10.9774L13.4095 15.4774C13.3052 15.8947 12.9302 16.1875 12.5 16.1875H10.0625V24.25C10.0625 24.7678 9.64277 25.1875 9.125 25.1875H4.625C4.10723 25.1875 3.6875 24.7678 3.6875 24.25V16.1875H1.25C0.732233 16.1875 0.3125 15.7678 0.3125 15.25V10.75C0.3125 10.2322 0.732233 9.8125 1.25 9.8125H3.6875V7.375C3.6875 5.63452 4.3789 3.96532 5.60961 2.73461ZM10.25 2.6875C9.0068 2.6875 7.81451 3.18136 6.93544 4.06044C6.05636 4.93951 5.5625 6.1318 5.5625 7.375V10.75C5.5625 11.2678 5.14277 11.6875 4.625 11.6875H2.1875V14.3125H4.625C5.14277 14.3125 5.5625 14.7322 5.5625 15.25V23.3125H8.1875V15.25C8.1875 14.7322 8.60723 14.3125 9.125 14.3125H11.768L12.4243 11.6875H9.125C8.60723 11.6875 8.1875 11.2678 8.1875 10.75V7.375C8.1875 6.82799 8.4048 6.30339 8.79159 5.91659C9.17839 5.5298 9.70299 5.3125 10.25 5.3125H12.6875V2.6875H10.25Z"
              fill="white"></path>
          </svg>
        </div>
        驻住拽
      </div>
    </a>
  </div>

  <!-- Buttons -->
  <div class="cta_buttons">
    <a href="https://wa.me/+972503395555" target="_blank">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
      >
        <path
          d="M8.60741 6.46231C8.83611 6.46844 9.08966 6.48081 9.33089 7.01628C9.49086 7.37276 9.76033 8.02901 9.97985 8.56359C10.1507 8.97958 10.2912 9.32189 10.3264 9.39195C10.4068 9.55195 10.4563 9.73657 10.3511 9.95195C10.3387 9.97735 10.327 10.0016 10.3158 10.025C10.2314 10.2 10.1714 10.3246 10.0296 10.4874C9.97133 10.5543 9.91059 10.6277 9.85008 10.7009C9.74365 10.8295 9.63791 10.9572 9.54728 11.0475C9.38653 11.2074 9.21951 11.3799 9.405 11.6999C9.5906 12.0199 10.2399 13.0723 11.1983 13.9217C12.2287 14.839 13.1247 15.2256 13.5777 15.4211C13.6656 15.459 13.7368 15.4897 13.7891 15.5157C14.1107 15.6757 14.3024 15.6511 14.4879 15.4357C14.6735 15.2203 15.2917 14.5002 15.5082 14.1802C15.7184 13.8602 15.9348 13.9094 16.2317 14.0202C16.5285 14.1309 18.1114 14.9064 18.4329 15.0664C18.4965 15.098 18.5559 15.1265 18.611 15.153C18.8348 15.2603 18.9868 15.3332 19.0513 15.4419C19.1317 15.5773 19.1317 16.2174 18.8658 16.9682C18.5938 17.7191 17.2828 18.4392 16.6892 18.4945C16.633 18.4998 16.5771 18.5066 16.5195 18.5136C15.9755 18.5794 15.2849 18.6629 12.8245 17.6944C9.79278 16.5022 7.7915 13.5442 7.38689 12.9462C7.35494 12.899 7.33295 12.8665 7.32119 12.8507L7.31434 12.8416C7.13026 12.5952 6.00407 11.0883 6.00407 9.53356C6.00407 8.04603 6.73685 7.27158 7.07109 6.91834C7.09227 6.89595 7.11185 6.87526 7.12954 6.85618C7.4263 6.53618 7.77265 6.45618 7.98904 6.45618C8.20553 6.45618 8.42192 6.45618 8.60741 6.46231Z"
          fill="#BCEC3E"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0.230195 24.1643C0.127924 24.5355 0.466035 24.8782 0.838595 24.7809L6.59777 23.2766C8.41571 24.2613 10.4625 24.7844 12.5464 24.7844H12.5525C19.41 24.7844 25 19.2268 25 12.3953C25 9.08418 23.7075 5.96992 21.3578 3.63114C19.0082 1.29246 15.8854 0 12.5524 0C5.69506 0 0.105103 5.55756 0.105103 12.3892C0.104324 14.5625 0.677972 16.6978 1.76846 18.5806L0.230195 24.1643ZM3.57611 19.0786C3.70964 18.5939 3.64294 18.076 3.39098 17.6409C2.46579 16.0435 1.97944 14.2319 1.9801 12.3892C1.9801 6.60198 6.72169 1.875 12.5524 1.875C15.3898 1.875 18.0369 2.97123 20.0351 4.96007C22.031 6.94671 23.125 9.58263 23.125 12.3953C23.125 18.1824 18.3834 22.9094 12.5525 22.9094H12.5464C10.7757 22.9094 9.03576 22.4648 7.4908 21.6279C7.07264 21.4014 6.58404 21.3423 6.12392 21.4624L2.67092 22.3644L3.57611 19.0786Z"
          fill="#BCEC3E"></path>
      </svg>
      住驻
    </a>
  </div>

  <div class="message">
    <p>转注 祝 砖转 注 - 6 砖 拽住 6 砖.</p>
  </div>

  <Title size="big" weight="bold">
    <svg
      class="blob-1"
      width="427"
      height="41"
      viewBox="0 0 427 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M233.987 18.2233C184.751 19.2634 135.516 21.8356 86.4873 26.0238C59.7084 28.3108 28.6069 28.0368 2.6276 35.8318C0.581016 36.4468 0.989228 38.3201 1.03396 38.5046C1.12343 38.8905 1.49808 40.1709 3.13647 40.2324C3.26508 40.238 4.14301 40.1263 4.4841 40.0816C12.1336 39.075 19.7608 37.9007 27.4159 36.9501C53.8594 33.6566 80.3699 31.1738 106.925 28.993C142.176 26.0965 177.722 24.5475 213.068 23.3453C232.421 22.6799 252.233 23.5578 271.653 22.199C278.766 22.1598 285.889 22.1543 293.013 22.1767C322.801 22.283 352.554 23.4125 382.303 24.9614C391.865 25.4591 399.167 25.9959 408.539 26.3593C412.101 26.4991 417.754 26.5942 421.68 26.6557C422.25 26.6669 423.682 26.678 424.302 26.6836C424.386 26.6948 424.47 26.6948 424.554 26.6948C424.856 26.6892 425.007 26.6724 425.035 26.6668C427.165 26.3536 426.97 24.3518 426.908 24.0387C426.897 23.9716 426.584 22.2773 424.761 22.2158C424.487 22.2046 422.513 22.1935 421.753 22.1823C417.855 22.1208 412.246 22.0257 408.712 21.8915C399.363 21.5281 392.077 20.9913 382.532 20.4936C352.717 18.9447 322.89 17.8095 293.03 17.7033C289.541 17.6921 286.057 17.6865 282.579 17.6921C282.322 17.3566 281.925 17.049 281.293 16.8868C280.717 16.7358 276.579 16.5906 274.98 16.4564C263.427 15.5113 263.768 15.5505 251.053 14.7732C231.795 13.5934 228.865 13.3248 208.841 12.8272C184.332 12.2177 159.818 12.05 135.303 12.0332C170.509 10.3333 205.95 10.5625 241.105 10.0481C257.002 9.81882 272.894 9.40507 288.792 9.52809C294.249 9.57282 299.701 9.77416 305.159 9.84126C306.288 9.85803 309.19 10.0537 309.61 9.95866C310.996 9.65112 311.293 8.61661 311.377 8.11335C311.422 7.82258 311.623 6.10036 309.559 5.49645C300.35 2.8124 283.356 2.91861 274.41 2.3874C224.307 -0.576238 174.105 0.251326 123.98 2.3706C103.285 3.24292 82.6569 4.48996 62.0457 6.50299C54.8379 7.20196 47.6133 7.80028 40.4335 8.7397C39.2704 8.89067 36.6479 9.10865 35.3786 9.33792C34.7243 9.46094 34.2602 9.63987 34.0421 9.7573C33.0244 10.3333 32.8511 11.1832 32.8455 11.7536C32.8399 12.1674 32.9461 13.7163 35.0039 14.1133C55.9339 18.2121 78.7035 16.6129 99.7453 16.557C136.075 16.4675 172.41 16.3947 208.729 17.3006C221.014 17.6081 226.84 17.8263 233.987 18.2233ZM244.449 5.52443C204.367 4.27747 164.241 5.14411 124.165 6.83842C103.553 7.71073 83.0092 8.95216 62.4818 10.954C59.2107 11.2727 55.9451 11.5691 52.6795 11.8878C68.3532 13.0117 84.5078 12.1283 99.7341 12.0836L110.185 12.0612C110.101 11.8487 110.045 11.6194 110.029 11.3846C109.934 10.1544 110.856 9.07516 112.086 8.9801C154.874 5.73129 198.166 6.20095 241.044 5.57467C242.179 5.5579 243.314 5.54121 244.449 5.52443Z"
        fill="#f9f9f9"></path>
    </svg>
  </Title>


  <section class="section-text">
    <div class="blob-wrap">
      <svg width="354" height="402" viewBox="0 0 354 402" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M172.992 5.90293C228.411 0.802264 292.549 -13.4355 329.493 35.5263C367.567 85.9867 353.097 161.837 340.323 227.669C327.559 293.448 312.639 369.208 259.742 394.998C208.48 419.991 156.921 372.453 108.406 340.741C65.0558 312.405 17.2486 284.439 4.3077 228.033C-9.11763 169.516 10.1037 106.932 44.4029 61.7655C76.4584 19.5535 125.077 10.3129 172.992 5.90293Z" fill="#0E0E10"/>
      </svg>
    </div>

    <div class="title-wrap">
      <Title size="h1">  !</Title>
      <svg width="115" height="10" viewBox="0 0 115 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M113.934 2.48259C91.1951 -0.859879 70.9512 1.36634 48.4095 1.95497C33.5033 2.33747 16.1497 3.80225 1.26147 4.29573C0.815198 4.31207 0.501677 5.15469 0.561954 6.18504C0.622501 7.21537 4.95525 6.96551 4.97495 9.71597C3.91511 6.27594 103.82 -2.02193 114.023 6.2026C114.472 6.26702 114.817 5.49096 114.794 4.46444C114.768 3.43809 114.381 2.55339 113.934 2.48259Z" fill="#EEF4EA"/>
      </svg>
    </div>
    <p>
      砖 砖 转拽转
      <br />
      转驻专  注 驻
       砖拽    砖转 爪  住 转 转 爪. 住祝,
      <br />
      <br />
        砖 爪专
       专拽 2-3  砖注.
       驻砖.  .
      <br />
       注砖!
    </p>
  </section>
</main>

<style lang="scss">
  :root {
    --dark: "#131313";
  }
  .mainContainer {
    width: 100%;
    position: relative;
    padding-top: 40px;
    color: var(--c-white);
    padding-bottom: 4em;
  }

  .container {
    z-index: 1;
    margin-top: 0;
    margin-bottom: 3em;
    padding-top: 10em;
  }

  .overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--dark);
    background: radial-gradient(
      124.98% 61.94% at 44.5% 57.43%,
      #ffc532 0%,
      rgba(0, 0, 0, 0.72) 100%
    );
    mix-blend-mode: multiply;
    opacity: 0.7;
    min-height: 100%;
  }

  .img {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: center;
    opacity: 0.8;
  }

  .imgoverlay {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    opacity: 1;
    filter: blur(0px);
  }

  .social {
    margin-top: 4em;
    display: flex;
    flex-direction: row nowrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .socialItem {
    cursor: alias;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }

  .socialIconWrapper {
    border-radius: 9999px;
    width: 56px;
    height: 56px;
    background-color: var(--c-gray);
    box-shadow: 2px 6px 9px 3px rgba(158, 62, 62, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in-out;

    position: relative;
    // border-image: linear-gradient(rgba(141, 255, 51, 1), rgba(154, 154, 154, 0.94));
    &::before {
      content: "";
      border-radius: 9999px;
      background-image: linear-gradient(
        rgb(96, 25, 16),
        rgba(251, 251, 251, 0.34)
      );
      background-image: linear-gradient(
        rgb(95, 23, 23),
        rgba(18, 71, 30, 0.34)
      );
      top: -1px;
      bottom: -1px;
      right: -1px;
      left: -1px;
      position: absolute;
      z-index: -1;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 4px 3px 9px rgba(158, 62, 62, 0.25);
      box-shadow: 8px 8px 9px rgba(178, 33, 33, 0.81) ;
      transition: all 150ms ease-in-out;
    }
  }

  .socialItemIcon {
    width: 22px;
    height: 22px;
  }

  .stroke {
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.17);
  }

  .cta_buttons {
    display: inline-block;
    margin-top: 40px;
    a {
      color: var(--c-white);
      background-color: var(--c-gray);
      font-weight: 700;
      cursor: pointer;
      border: none;
      padding: 10px 2.25rem;
      border-radius: 12px;
      display: flex;
      flex-direction: row;
      gap: 1.5em;
      align-items: center;
      margin-inline: auto;
      justify-content: space-between;
      font-size: 1rem;
      transition: all 150ms ease-out;
      box-shadow: 4px 4px 9px rgba(255, 255, 255, 0.81) ;
      
      &:hover {
        transform: translateY(-1px);
        transition: all 150ms ease-in;
        box-shadow: 8px 8px 9px rgba(178, 33, 33, 0.81) ;
        background-image: linear-gradient(
          rgb(112, 37, 13),
          rgba(47, 24, 13, 0.34)
        );
      }
    }
  }

  .message {
    margin-top: 50px;

    svg {
      margin: 0 auto;
    }
    p {
      color: rgba(255, 255, 255, 0.81);
      margin: 0 auto;
      padding: 0;
    }
  }




  .title-wrap {
    position: relative;
    svg {
      position: relative;
      margin: 0 auto;
      width: 30%;
      margin-top: -15px;
    }
  }

  .section-text {
    position: relative;
    margin-bottom: 40px;
    p {
      margin-top: 40px;
      max-width: 26ch;
    }
    .blob-wrap {
      z-index: -1;
      position: absolute;
      margin-top: 15%;
      margin-right: 18%;
    }
  }
</style>
