@font-face {
    font-family: 'ChunkFiveEx';
    src:    url('/fonts/chunkfive_ex-webfont.woff') format('woff'),
            url('/fonts/chunkfive_ex-webfont.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'ChunkFiveEx';
    src:    url('/fonts/chunkfive_ex-webfont.woff') format('woff'),
            url('/fonts/chunkfive_ex-webfont.woff2') format('woff2');
    font-weight: 400;
}