@font-face {
    font-family: 'Helvetica Neue';
    src:    url('/fonts/helveticaneue-webfont.woff') format('woff'),
            url('/fonts/helveticaneue-webfont.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica Neue';
    src:    url('/fonts/helveticaneue_light-webfont.woff') format('woff'),
            url('/fonts/helveticaneue_light-webfont.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica Neue';
    src:    url('/fonts/helvetica_neu_bold-webfont.woff') format('woff'),
            url('/fonts/helvetica_neu_bold-webfont.woff2') format('.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'ChunkFiveEx';
    src:    url('/fonts/chunkfive_ex-webfont.woff') format('woff'),
            url('/fonts/chunkfive_ex-webfont.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'ChunkFiveEx';
    src:    url('/fonts/chunkfive_ex-webfont.woff') format('woff'),
            url('/fonts/chunkfive_ex-webfont.woff2') format('woff2');
    font-weight: 400;
}