---
import Layout from "../layouts/Layout.astro";
import Link from "../components/common/Link/Link.astro";
import Section from "../components/common/Section/section.astro";
import Portfolio from "../components/Portfolio.astro";
import Underline from "../components//common/Underline.astro";

import MainAvatar from "../components/Avatar/MainAvatar";
import Links from "../components/Links/Links";

import Logo from '/logo2.png'
import HeroBg from '../../public/section-bg.png';
import Title from "../components/common/Title";
---

<Layout title="לירון סטודיו נייד">
	<div class="main-wrapper">
		<MainAvatar img={Logo} />
		<Links />

		<Section 
			title="רגעים לנצח" 
			class="work-section" 
			fold={true}
			overlayImage={HeroBg}
			>

			<Title size="big" weight="bold">
				<Underline width='0'>רגעים לנצח</Underline>
				<svg 
					class="blob-1"
					width="427" height="41" viewBox="0 0 427 41" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M233.987 18.2233C184.751 19.2634 135.516 21.8356 86.4873 26.0238C59.7084 28.3108 28.6069 28.0368 2.6276 35.8318C0.581016 36.4468 0.989228 38.3201 1.03396 38.5046C1.12343 38.8905 1.49808 40.1709 3.13647 40.2324C3.26508 40.238 4.14301 40.1263 4.4841 40.0816C12.1336 39.075 19.7608 37.9007 27.4159 36.9501C53.8594 33.6566 80.3699 31.1738 106.925 28.993C142.176 26.0965 177.722 24.5475 213.068 23.3453C232.421 22.6799 252.233 23.5578 271.653 22.199C278.766 22.1598 285.889 22.1543 293.013 22.1767C322.801 22.283 352.554 23.4125 382.303 24.9614C391.865 25.4591 399.167 25.9959 408.539 26.3593C412.101 26.4991 417.754 26.5942 421.68 26.6557C422.25 26.6669 423.682 26.678 424.302 26.6836C424.386 26.6948 424.47 26.6948 424.554 26.6948C424.856 26.6892 425.007 26.6724 425.035 26.6668C427.165 26.3536 426.97 24.3518 426.908 24.0387C426.897 23.9716 426.584 22.2773 424.761 22.2158C424.487 22.2046 422.513 22.1935 421.753 22.1823C417.855 22.1208 412.246 22.0257 408.712 21.8915C399.363 21.5281 392.077 20.9913 382.532 20.4936C352.717 18.9447 322.89 17.8095 293.03 17.7033C289.541 17.6921 286.057 17.6865 282.579 17.6921C282.322 17.3566 281.925 17.049 281.293 16.8868C280.717 16.7358 276.579 16.5906 274.98 16.4564C263.427 15.5113 263.768 15.5505 251.053 14.7732C231.795 13.5934 228.865 13.3248 208.841 12.8272C184.332 12.2177 159.818 12.05 135.303 12.0332C170.509 10.3333 205.95 10.5625 241.105 10.0481C257.002 9.81882 272.894 9.40507 288.792 9.52809C294.249 9.57282 299.701 9.77416 305.159 9.84126C306.288 9.85803 309.19 10.0537 309.61 9.95866C310.996 9.65112 311.293 8.61661 311.377 8.11335C311.422 7.82258 311.623 6.10036 309.559 5.49645C300.35 2.8124 283.356 2.91861 274.41 2.3874C224.307 -0.576238 174.105 0.251326 123.98 2.3706C103.285 3.24292 82.6569 4.48996 62.0457 6.50299C54.8379 7.20196 47.6133 7.80028 40.4335 8.7397C39.2704 8.89067 36.6479 9.10865 35.3786 9.33792C34.7243 9.46094 34.2602 9.63987 34.0421 9.7573C33.0244 10.3333 32.8511 11.1832 32.8455 11.7536C32.8399 12.1674 32.9461 13.7163 35.0039 14.1133C55.9339 18.2121 78.7035 16.6129 99.7453 16.557C136.075 16.4675 172.41 16.3947 208.729 17.3006C221.014 17.6081 226.84 17.8263 233.987 18.2233ZM244.449 5.52443C204.367 4.27747 164.241 5.14411 124.165 6.83842C103.553 7.71073 83.0092 8.95216 62.4818 10.954C59.2107 11.2727 55.9451 11.5691 52.6795 11.8878C68.3532 13.0117 84.5078 12.1283 99.7341 12.0836L110.185 12.0612C110.101 11.8487 110.045 11.6194 110.029 11.3846C109.934 10.1544 110.856 9.07516 112.086 8.9801C154.874 5.73129 198.166 6.20095 241.044 5.57467C242.179 5.5579 243.314 5.54121 244.449 5.52443Z" fill="#f9f9f9"/>
				</svg>
			</Title>

			<p class="section-text">
				שלום!
				<br>
				אני לירון, נהנה מאומנות הצילום.
				<br>
				כאן לרשותכם כדי לעזור לכם
				להנציח את הרגעים המרגשים והמשמעותיים
				לכם וליקירכם
				
			</p>
			<Link
				href="https://wa.me/+972508564794"
				title="Contact via WhatsApp"
				externalInNewTab={true}
			>
			פנו עכשיו
			</Link>

		</Section>

		<Section title="העבודה שלי" class="portfolio">
			<Portfolio />
		</Section>

		<!-- <Form /> -->
	</div>

	<footer>
		<a href="https://www.forcard.co.il" target="_blank" rel="nofollow noopener">
			<h1 class="footer__logo"><small>by</small> .forcard</h1>
		</a>
	</footer>
</Layout>

<style lang="scss" is:global>

	.footer__logo {
		font-weight: 700;
		font-family: "ChunkFiveEx";
	}

	footer a {
		text-decoration: none;
		color: inherit;
		transition: all 250ms ease-in-out;
		&:hover {
			color: #ffc532;
		}
	}

	// $primary: #ffc532;
	$primary: #BCEC3E;

	

	.main-wrapper {
		width: 100%;
		margin-right: auto;
		margin-left: auto;

		@media screen and (min-width: 32em) {
			max-width: 32em;
			box-shadow: 4px 0 16px rgba(40,70,40,0.88),
					-4px 0 16px rgba(40, 70, 40, 0.88);
		}
	}

	.work-section {
		position: relative;
		padding: 4em 1em;
		background-color: #1F2327;
		color: var(--c-white);
		z-index: 1;
	}

	a.link {
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
		color: #fdfdfd;
		// background-color: $primary;
        color: var(--c-gray);
		background-color: #fdfdfd;
		border-radius: 12px;
		padding: 0.625em 3em;
		margin-inline: auto;
		transition: all 150ms ease-in;
		box-shadow: 2px 2px 2px hsl(0, 0%, 0%);

		&:hover {
			background-color: darken(#fdfdfd, 70%);
			transform-origin: 0px;
			transform: translateY(-2px);
			transition: all 150ms ease-out;
			box-shadow: 4px 4px 0px hsl(0, 0%, 0%);
			color: #fdfdfd;
		}
		
		&.primary {
			background-color: black;
			color: white;
			// box-shadow: 2px 2px 2px hsl(0, 0%, 35%);
			transition: all 150ms ease-in-out;
			&:hover {
				transform: translateY(-1px);
				transition: all 150ms ease-in-out;
				box-shadow: 4px 4px 0px hsl(0, 0%, 35%);
			}
		}

	}

	p {
		line-height: 160%;
		text-align: center;
		padding-bottom: 2em;
		max-width: 30ch;
		margin-inline: auto;
		font-size: 18px;
		color: #fdfdfd;
	}

	.section-text {
		padding-top: 10px;
	}

	.blob-1 {
		position: absolute;
		bottom: -50%;
		left: 30%;
		width: 100px;
		height: 100%;
		z-index: -3;
	}

	.cta-link {
		background-color: #999;
	}



</style>
