---
import Layout from "../layouts/Layout.astro";
import Section from "../components/common/Section/section.astro";
import Portfolio from "../components/Portfolio.astro";

import MainAvatar from "../components/Avatar/MainAvatar";
import Hero from "../components/Hero/Hero.astro";

import Testimonial from "../components/Testimonial.astro";

import Logo from '/logo2.png'
---

<Layout title="אביחי קשאני מאמן אישי">
	<div class="main-wrapper">
		<MainAvatar img={Logo} />
		<Hero />

		<Section title="העבודה שלי" class="portfolio">
			<Portfolio />
		</Section>

		<Testimonial />

		<!-- <Form /> -->
	</div>

	<footer>
		<a href="https://www.forcard.co.il" target="_blank" rel="nofollow noopener">
			<h1 class="footer__logo"><small>by</small> .forcard</h1>
		</a>
	</footer>
</Layout>

<style lang="scss" is:global>

	.footer__logo {
		font-weight: 700;
		font-family: "ChunkFiveEx";
	}

	footer a {
		text-decoration: none;
		color: inherit;
		transition: all 250ms ease-in-out;
		&:hover {
			color: #ffc532;
		}
	}

	// $primary: #ffc532;
	$primary: #BCEC3E;

	

	.main-wrapper {
		width: 100%;
		margin-right: auto;
		margin-left: auto;

		@media screen and (min-width: 32em) {
			max-width: 32em;
			box-shadow: 4px 0 16px rgba(40,70,40,0.88),
					-4px 0 16px rgba(40, 70, 40, 0.88);
		}
	}

	.work-section {
		position: relative;
		padding: 4em 1em;
		background-color: #1F2327;
		color: var(--c-white);
		z-index: 1;
	}

	a.link {
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
		color: #fdfdfd;
		// background-color: $primary;
        color: var(--c-gray);
		background-color: #fdfdfd;
		border-radius: 12px;
		padding: 0.625em 3em;
		margin-inline: auto;
		transition: all 150ms ease-in;
		box-shadow: 2px 2px 2px hsl(0, 0%, 0%);

		&:hover {
			background-color: darken(#fdfdfd, 70%);
			transform-origin: 0px;
			transform: translateY(-2px);
			transition: all 150ms ease-out;
			box-shadow: 4px 4px 0px hsl(0, 0%, 0%);
			color: #fdfdfd;
		}
		
		&.primary {
			background-color: black;
			color: white;
			// box-shadow: 2px 2px 2px hsl(0, 0%, 35%);
			transition: all 150ms ease-in-out;
			&:hover {
				transform: translateY(-1px);
				transition: all 150ms ease-in-out;
				box-shadow: 4px 4px 0px hsl(0, 0%, 35%);
			}
		}

	}

	p {
		line-height: 160%;
		text-align: center;
		padding-bottom: 2em;
		max-width: 30ch;
		margin-inline: auto;
		font-size: 18px;
		color: #fdfdfd;
	}

	.section-text {
		padding-top: 10px;
	}

	.blob-1 {
		position: absolute;
		bottom: -50%;
		left: 30%;
		width: 100px;
		height: 100%;
		z-index: -3;
	}

	.cta-link {
		background-color: #999;
	}



</style>
