.big {
    font-size: 2rem;
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
}

.h1 {
    font-size: 1.825rem;
}

.h2 {
    font-size: 1.625rem;
}

.h3 {
    font-size: 1.125rem;
}

.h4 {
    font-size: 1rem;
}
