---
import Title from "../components/common/Title";

const testimonials = [
    {
        name: 'סהר רייפמן',
        text: '“מלא אנרגיה הפסקתי להיות עייף וגמור כל הזמן״'
    },
    // {
    //     name: 'John Doe',
    //     text: "I have always failed with diets and whatnot, but this guy kept me accountable and motivated at all times. Such a great mentor"
    // },
]
---

<section>
  <Title size="big" weight="bold" color="#fff">
    לקוחות מפרגנים
    <svg class="title-blob" width="170" height="9" viewBox="0 0 170 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.76038 1.2835C2.64293 1.22787 1.52695 1.16817 0.411123 1.10532C0.193116 1.09296 0.0168539 1.2007 0.0177174 1.34589C0.0185809 1.49108 0.196278 1.61901 0.414285 1.63137C1.41869 1.68732 2.42319 1.74117 3.42701 1.79287C3.48413 1.82062 3.59826 1.86243 3.7918 1.89175C9.82196 2.77983 16.2855 2.5336 22.4094 2.49124C28.1584 2.63101 33.9077 2.714 39.6572 2.76651C38.9732 2.78379 38.2894 2.80002 37.6051 2.81411C37.4627 2.81733 37.0938 2.82643 37.0434 2.83287C36.7551 2.87371 36.7547 3.03982 36.7577 3.08212C36.7592 3.10327 36.7924 3.33731 37.1857 3.35964C41.4108 3.59706 45.6205 3.50935 49.8129 3.44442C51.3724 3.4201 52.9302 3.39353 54.4889 3.36494C55.0309 3.35407 56.443 3.36409 56.6369 3.34717C56.8454 3.32827 56.9228 3.24306 56.9511 3.17593C60.3355 3.16978 63.7243 3.18081 67.1147 3.20774C67.7795 3.23308 68.4432 3.25938 69.1071 3.28571C76.3419 3.57712 83.5756 3.88633 90.809 4.15659C86.7844 4.12467 82.7503 4.1025 78.7346 4.13229C77.912 4.13835 77.0916 4.15932 76.2696 4.16964C75.8204 4.17434 74.6568 4.14022 74.4945 4.16916C74.2527 4.21376 74.2198 4.3373 74.2162 4.39906C74.2142 4.43675 74.2417 4.64824 74.6545 4.71631C82.3113 5.983 90.0881 6.48962 97.821 7.0558C99.8552 7.20445 101.889 7.35834 103.922 7.51639C99.0748 7.38428 94.1709 7.07727 89.3254 6.8118C89.2804 6.78292 89.2162 6.75461 89.1249 6.73356C88.991 6.7017 88.5783 6.6515 87.8274 6.58555C87.6656 6.57142 87.5222 6.62397 87.4554 6.71111C86.3042 6.65171 85.1563 6.59574 84.0141 6.54653C80.2736 6.38509 76.537 6.31229 72.7974 6.1625L71.9509 6.12352L71.7744 6.11556C71.1258 6.08312 70.3324 6.04107 69.8052 6.01318C69.5009 5.99594 68.7098 5.96354 68.6005 5.96102C68.2709 5.9554 68.2236 6.15664 68.2217 6.16595C68.2207 6.17113 68.2387 6.46808 68.6904 6.49302C68.9929 6.51011 70.1337 6.56447 71.7329 6.63906C72.1348 6.65892 72.4873 6.67585 72.6974 6.68442L72.8591 6.69117C77.9728 6.9247 86.1665 7.27889 88.4827 7.29155C96.0341 7.69584 103.745 8.2329 111.178 8.08605C111.422 8.08051 111.527 8.03221 111.547 8.02125C111.659 7.95778 111.68 7.88163 111.673 7.81477C111.668 7.77232 111.628 7.59981 111.317 7.54838C111.099 7.51178 109.531 7.43134 108.927 7.38355C105.231 7.09112 101.535 6.80181 97.838 6.53138C91.1719 6.04302 84.4727 5.60141 77.846 4.67246C78.1681 4.66695 78.4903 4.66251 78.8128 4.66019C82.8845 4.62967 86.9752 4.6522 91.0552 4.68545C103.726 4.78844 116.732 5.80823 129.33 5.57932C129.588 5.57495 129.701 5.52734 129.723 5.51648C129.842 5.45251 129.863 5.37318 129.855 5.30524C129.85 5.26384 129.808 5.08901 129.491 5.03816C129.229 4.99599 127.355 4.90448 126.633 4.8503C123.749 4.63399 120.862 4.41644 117.977 4.24529C113.215 3.96341 108.445 3.72079 103.677 3.5226C103.267 3.44533 102.843 3.37214 102.405 3.3031C105.618 3.39034 108.83 3.49538 112.042 3.6246C125.208 4.15146 138.377 4.82053 151.546 5.55379C157.001 5.85797 162.541 6.3679 167.991 6.51814C168.184 6.52324 168.613 6.56635 168.824 6.5718C168.944 6.57522 169.032 6.56442 169.073 6.55517C169.247 6.5145 169.3 6.43152 169.316 6.36551C169.33 6.31403 169.352 6.14447 169.023 6.03584C161.947 3.69927 150.885 3.95769 143.611 3.46748C113.907 1.4661 84.2453 0.834079 54.655 0.736797C42.8243 0.697478 31.0237 0.665841 19.2287 0.877582C15.0429 0.952512 10.8496 0.981629 6.69151 1.1955C6.14883 1.22419 4.99899 1.23009 4.26327 1.25475C4.06522 1.26188 3.89301 1.27213 3.76038 1.2835ZM166.795 5.95353C159.838 4.23865 150.161 4.43438 143.601 3.99246C113.923 1.99313 84.2859 1.36104 54.7208 1.26369C42.8984 1.22505 31.1063 1.19307 19.3193 1.40546C16.3208 1.45858 13.3182 1.48927 10.3279 1.58091C14.3341 1.74069 18.3403 1.86579 22.351 1.96389C23.1844 1.95764 24.0122 1.95513 24.8318 1.96039C34.8972 2.02211 44.9856 2.09413 55.0808 2.32441C58.4172 2.33436 61.7536 2.34112 65.0928 2.34919C71.5496 2.21597 80.363 2.01457 88.4897 2.23611C91.285 2.31273 93.9997 2.43961 96.5112 2.63737C101.682 2.74305 106.851 2.89057 112.02 3.09804C125.192 3.62436 138.367 4.29498 151.544 5.02885C156.6 5.3103 161.729 5.77016 166.795 5.95353ZM103.622 4.04606C100.567 3.92007 97.5144 3.81315 94.4665 3.72557C93.11 3.68743 91.7534 3.65034 90.3965 3.61532C91.1378 3.6437 91.8792 3.67103 92.6205 3.6973C96.0997 3.82396 99.5876 3.95445 103.065 4.03677C103.238 4.04022 103.47 4.05266 103.729 4.06736L103.627 4.04751L103.622 4.04606ZM122.451 5.06643C120.96 4.96062 119.468 4.859 117.977 4.77106C114.106 4.54231 110.23 4.33835 106.355 4.16388C106.449 4.20727 106.5 4.24716 106.524 4.27221C106.593 4.34299 106.606 4.41031 106.594 4.4703C106.586 4.50755 106.567 4.55124 106.521 4.5917C111.843 4.79469 117.171 5.00555 122.451 5.06643ZM98.3558 3.32174C97.7709 3.265 97.1721 3.21237 96.5606 3.164C93.5375 3.10261 90.5146 3.05386 87.4954 3.01593C89.806 3.0723 92.1185 3.13303 94.4304 3.19896C95.7382 3.23632 97.0468 3.27692 98.3558 3.32174Z" fill="white"/>
    </svg>
  </Title>
  {
    testimonials.map(review => (
        <div class="review">
            <p>{review.text}</p>
            <h3>- {review.name}</h3>
        </div>
    ))
  }
</section>


<style lang="scss">
    section {
        background-image: url('test-bg.jpg');
        padding: 0 0 50px;
    }
  .title-blob {
    margin: 0 auto;
  }

  .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    box-shadow: 3px 3px 9px rgba(178, 33, 33, 0.81) ;
    width: 66%;
    margin: 40px auto 0;


    h3 {
        margin-top: 0px;
    }
  }


</style>